@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'IvyMode';
    src: url('~/assets/fonts/1.42533.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IvyMode';
    src: url('~/assets/fonts/1.42537.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply text-md md:text-base font-normal text-black bg-white font-sans;


}

.section {
    @apply max-w-[1200px] mx-auto px-2.5;
}

.h1-title {
    @apply leading-7 lg:leading-[120%] max-w-[410px];

}

.h2-subtitle {
    @apply leading-7 lg:leading-[140%] font-bold tracking-[6%] max-w-[879px] font-serif;


}

.p-subtitle {

    @apply leading-7 lg:leading-[140%]  font-light tracking-[6%] max-w-[775px];


}

.custom-img-position {

    @apply lg:-bottom-[-160px] lg:-left-[-150px] xl:-left-[-280px] lg:w-[350px];


}

.btnWrap {

    @apply absolute h-[574px] text-center z-20 align-middle table w-full rounded-lg;
    background-color: rgba(0, 0, 0, 0.26);
}


.custom-v-img {

    @apply h-[574px] max-w-[1000px] -bottom-[-70px];

}

.max-custom {

    @apply max-w-[1042px] mx-auto;

}

.w-250 {
    @apply w-[243px];
}


.swiper-container {
    width: calc(50% + 50vw);
    @apply h-[600px];
}

@media (max-width: 480px) {
    .swiper-container {
        width: 100%;
       height:330px !important;
    }
}



.w-custom-73 {

    @apply w-[73.5555%];

}

.custom-pagination {
    bottom: 100px !important;
    width: calc((100% - 50vw) * 2) !important;


}

.swiper-button-prev {
    background-image: url("/assets/svg/swiper-left.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 66px 66px;
    width: 66px !important;
    height: 66px !important;
}

.swiper-button-next {
    background-image: url("/assets/svg/swiper-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 66px 66px;
    width: 66px !important;
    height: 66px !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    display: none;
}

.swiper-pagination-bullets {

    display: flex;
    justify-content: center;
    align-items: center;

}

.swiper-pagination-bullet {
    background: #C57847 !important;
    opacity:1 !important;


}

.swiper-pagination-bullet-active {
    width: 13.27px !important;
    height: 13.27px !important;


}