@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'IvyMode';
    src: url('~/assets/fonts/1.42533.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: 'IvyMode';
    src: url('~/assets/fonts/1.42537.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply text-md md:text-base font-normal text-black bg-white font-sans;


}

.section {
    @apply max-w-[1200px] mx-auto px-2.5;
}

.h1-title{
    @apply leading-7 lg:leading-[120%] max-w-[410px];

}

.h2-subtitle{
    @apply leading-7 lg:leading-[140%] text-center text-xl lg:text-5xl font-bold tracking-[6%] max-w-[879px] font-serif;


}

.p-subtitle{

    @apply leading-7 lg:leading-[140%] text-center text-0xl font-light tracking-[6%] max-w-[775px];


}



